<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Task: home</title>
  <link rel="stylesheet" href="/styles/style.css">
  <link rel="stylesheet" href="/styles/home.css">
  <link rel="stylesheet" href="/styles/header.css">
</head>

<body>
  <!-- Conteúdo principal da home-->
  <main class="home__body">
    <%- include('../components/header') %>
    <section class="home__body__dashboard">
        <div class = "home__body__dashboard__titulo__container">
          <h1 class="home__body__dashboard__titulo">Bem-vindo(a), <%= nomeUsuario %></h1>
          <h2 class="home__body__dashboard__subtitulo">Dashboard</h2>
        </div>
        

        <div class="home__body__dashboard__cartoes">
      <div class="home__body__dashboard__cartao cartao__azul">
        <h3 class="home__body__dashboard__cartao__titulo">Tarefas a fazer</h3>
        <h2 class="home__body__dashboard__cartao__numero"><%= tarefasAFazer %></h2>
      </div>

      <div class="home__body__dashboard__cartao" >
        <h3 class="home__body__dashboard__cartao__titulo">Tarefas concluídas</h3>
        <h2 class="home__body__dashboard__cartao__numero"><%= tarefasConcluidas %></h2>
      </div>

      <div class="home__body__dashboard__cartao">
        <h3 class="home__body__dashboard__cartao__titulo">Próximas do vencimento</h3>
        <h2 class="home__body__dashboard__cartao__numero"><%= totalTarefas %></h2>
      </div>

      <div class="home__body__dashboard__cartao">
        <h3 class="home__body__dashboard__cartao__titulo">Total de tarefas</h3>
        <h2 class="home__body__dashboard__cartao__numero"><%= totalTarefas %></h2>
      </div>
    </div>

        
        <div class = "home__body__dashboard__titulo__container">
          <h2 class="home__body__dashboard__subtitulo">Gráficos</h2>
        </div>

        <div class = "graficos">
          <canvas id="grafico1"></canvas>
          <canvas id="grafico2"></canvas>
        </div>
        

    </section>
  </main>

  <!-- Biblioteca ScrollReveal para animações -->
  <script src="https://unpkg.com/scrollreveal"></script>

  <!--Biblioteca para gráficos-->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <!--JavaScript externo-->
  <script src="/scripts/abrirMenuHamburguer.js"></script>
  <script src="/scripts/graficos.js"></script>
</body>
</html>
